[Unit]
Description=Chainwatch

[Service]
Environment=GOLOG_FILE="/lotus/logs/space/chainwatch.log"
Environment=GOLOG_LOG_LEVEL="debug"
Environment=LOTUS_DB="port=5432 user=postgres password=root dbname=lotus sslmode=disable"
Environment=LOTUS_PATH="/cache/lotus"
EnvironmentFile=-/etc/lotus/chainwatch.env
ExecStart=/usr/local/bin/lotus-chainwatch run

[Install]
WantedBy=multi-user.target
